<div class="card mt-5">
  <div class="card-body mt-2">
    <h3 style="text-align: center;">Cập nhật sách</h3>
    <div class="card-body">
      <div [hidden]="submitted" style="width: 1400px;">


        <form>


          <div class="form-group" [formGroup]="validateForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Tên sách:</label>
              <input type="text" class="form-control" [(ngModel)]="book.title" name="title" formControlName="title">
            </div>
            <div class="alert alert-danger" role="alert"
                 *ngIf="validateForm.get('title').invalid && validateForm.get('title').touched">
              Tên sách Không Hợp Lệ!
            </div>


            <div class="form-group" [formGroup]="validateForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>Tác giả:</label>
                <input type="text" class="form-control" [(ngModel)]="book.author" name="author"
                       formControlName="author">
              </div>
              <div class="alert alert-danger" role="alert"
                   *ngIf="validateForm.get('author').invalid && validateForm.get('author').touched">
                Tác giả Không Hợp Lệ!
              </div>


              <div class="form-group" [formGroup]="validateForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label>Mô tả sách:</label>
                  <textarea type="text" class="form-control" [(ngModel)]="book.description" name="description"
                            formControlName="description"></textarea>
                </div>
                <div class="alert alert-danger" role="alert"
                     *ngIf="validateForm.get('description').invalid && validateForm.get('description').touched">
                  Mô tả sách Không Hợp Lệ!
                </div>


                <!--            <button [disabled]="addform.form.invalid" type="submit" class="add btn btn-success">Cập nhật</button>-->

                <button class="btn btn-warning" (click)="editBook()">Cập nhật</button>
                <button (click)="gotoList()" class="btn btn-primary ml-2">Quay lại</button>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
